<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID PRODUCTO</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">PRECIO</th>
        <th scope="col">CANTIDAD</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let producto of productos">
        <th scope="row">{{producto.idproducto}}</th>
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.cantidad}}</td>
      </tr>
    </tbody>
  </table>